@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

img{
    width: 100%;
}
header,h1,h2,h3,nav,footer,#time{
    color:#C2E812;
    background-color:#000000;
    font-family:Lato;
	margin: 0%;
	padding: 1%;
}
h1,h2,h3{
	padding-left: 3%;
}
body{
    color:#000000;
    background-color:#757780;
    font-family:ubuntu;
}
main{
	display: grid;
	grid-template:auto/1fr;
	gap: 10px;
    color:#000000;
    background-color:#ffffff;
    font-family:ubuntu;
	margin: 1%;
	padding: 1%;
	
}
section{
	box-shadow: 1px 1px 10px rgb(29, 28, 28);
	text-align: center;
}
p{
	margin: 1%;
	padding: 3%;
}
nav {
	margin: 0 auto;
	max-width: 760px;
    background-color:#000000;

}
footer{
	text-align: center;
	display: grid;
	grid-template: 1fr/ 100px 1fr;
}
footer img{
	width: 100%;
}
footer p{
	padding: 0;
	margin: auto auto;
}


.navigation {
	list-style: none;
	padding: 0;
	margin: 0%;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a,#time {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #C2E812;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
#time{
	background-color: #757780;
	border:1px solid #C2E812;
}


.navigation a.ham::before {
	content: "🍔 ";
}

.navigation li:hover {
	background-color: #757780;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

.top,.sbs{
	display: flex;
	flex-direction: column;
	justify-content: left;
}
input{
	min-width: 0;
	width: calc(100%);
}
textarea{
	min-width: 0;
	width: calc(100%);
}

li img{
	max-width: 30px;
}

.logo{
	background-color: #757780;
	border:1px solid #C2E812;
	display:grid;
	grid-template-columns: 1fr 1fr;
	padding-right: 6px;

}

#nav-bar{
	display: grid;
	grid-template:1fr/ 125px 1fr ;
	padding: 0;
	
}

.card{
	width: 200px;
	height: 350px;
	border: 1px solid black;
	box-shadow: 1px 1px 5px 1px #000000;
	background-color: #ffffff;
}
.card img{
	border: 1px solid black;
}
#cards{
    display: flex;
    justify-content: center;
    flex-flow: column;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 5px;
}

.disclamer{
	font-family: monospace;
	font-size: 0.5em;
}
._card:link{
	text-decoration: none;
	color:#000000
}

.Gallery picture img{
	max-width: 200px;

}
#WContaner{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#wether{
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}
#wether img{
	justify-items: center;
	margin: 0 auto;
	width: 100px;
}