@media only screen and (min-width: 800px) {
    header img{
       
        margin: 0 auto;
    }
    #nav-bar{
        display: grid;
        grid-template:1fr/ 135px 1fr ;
        padding: 0;
    }
    main{
        margin: 1%;
        
    }
    
    nav{
        margin:auto 0;
    }
    #nav-bar{
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
    }
    .content{
        margin-top: 120px;
        grid-template-columns: 1fr 50% 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    /*the grid configs*/
   
    #intro{
        grid-column: 2/3;
        grid-row: 1/-1;
    }
    #spotlight{
        grid-column: 3/4;
        grid-row: 1/-1;
    }
    #events{
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .discover-content,.directory-content,.join-content{
        display: flex;
        flex-direction: column;
        max-width: 960px;
        margin: 0 auto;
        margin-top: 120px;
    }

  }