@media only screen and (min-width: 800px) {
    header img{
       
        margin: 0 auto;
    }
    header{
        display: grid;
        grid-template:1fr/ 135px 1fr ;
        padding: 0;
    }
    main{
        margin: 1% auto;
        max-width: 960px;
    }
    footer{
        margin: 1% auto;
        max-width: 1000px;
        padding: 0%;
    }
    nav{
        margin:auto 0;
    }
    #nav-bar{
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
    }
    .content{
        margin-top: 150px;
    }

  }